.wrapper{
	min-height:100vh;
	width:100vw;
}
.sidebar-wrapper{
	padding: 0 !important;
	background-color: #f0f0f0;
}
.sidebar{
	padding:0 !important;
	height:100%;
	width:100%;
}
.sidebar a {
    text-decoration: none;
    color: #838383;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-weight: 550;
}
.sidebar a span{
	font-weight:normal;
	font-size:12px;
}
.sidebar .menu-item:hover{
	background-color: white;
	text-decoration: none;
	color:#4C4C4C;
}
.sidebar .menu-item:focus{
	color:white;
	text-decoration: none;
	background-color:white;
	outline:none;
}
.menu-title{
	display:flex;
	flex-direction: column;
	justify-content: center;
	color:#4C4C4C !important;
	font-weight: 650;
	padding:25px 16px 10px 16px;
	margin-top:10px;
}
.menu-title:hover{
	text-decoration: none;
}
.header{
	min-height:12vh;
	height:12vh;
}
.content{
	color:black;
}
.form-description{
	height:20vh !important;
}

.form-group .btn{
	color:white!important;
	background-color:#838383 !important;
}
.hero-img{
	width:100%;
	margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
	.active{
		background-color:white;
	}
    .sidebar .top-menu .col-xs-3 {
	    text-align: center;
	    font-weight: 600;
	}
	.menu-item{
		text-align: center !important;
	}
	.menu-title{
		font-size:30px;
		text-align: center;
	}
	.artist-menu{
		display: none;
	}
	.sidebar{
		height:100px;
	}
	.sidebar a{
		padding: 6px 8px 9px 16px;
	}
	.content{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.home-image{
		width:100%;
		margin-bottom: 10px;
	}
	.about-heading{
		text-align: center;
		color:#4C4C4C;
	}
}


@media only screen and (min-width: 992px) {
	.active{
		border-left:5px solid #FFB633;
		text-decoration: none;
		color:#4C4C4C !important;
	}
	.sidebar-wrapper{
		height:100vh;
		position: fixed !important;
	}
	.sidebar a{
		/*border-bottom:1px solid white;*/
		padding: 6px 8px 6px 16px;
	}
	.artist-menu{
		padding:0 !important;
	}
	.artist-menu .menu-item{
		padding-left:30px;
	}
	.artist-title{
		margin-top: 20px;
		font-weight: 650;
	}
	.content{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.home-image{
		height:45vh;
		margin-bottom: 10px;
	}
	.home-image-wrapper{
		display:flex;
		flex-direction: row;
		justify-content: center;
	}
	.content h4{
		margin-top:20px;
		margin-bottom:20px;
		text-align: center;
	}
	.resource-heading{
		margin-left:20px;
		margin-right: 20px;
	}
	.about-heading{
		text-align: right;
		color:#4C4C4C;
	}
	.sidebar{
		position: fixed;
		top:0;
		left:0;
	}
	.border-left{
		border-left: 3px solid #f0f0f0;
	}
}

.resource-heading, .index-heading{
	margin-bottom:20px;
	padding-bottom: 10px;
	border-bottom:3px solid #f0f0f0;
}

.artist-menu-body a{
	text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
	padding:5px;
	border: 1px solid white !important;
	text-align: center;
	transition:.1s linear;
	margin-bottom: 20px;
	background-color: #838383 !important;
	color:white;
}
.artist-menu-body a:hover{
	background-color: #4C4C4C !important;
	text-decoration: none;
	color:white;
	border: 1px solid white;
}
.artist-menu-body a:focus{
	background-color:#4C4C4C
	text-decoration: none;
	color:white;
	border: 1px solid white;
}

.our-program-content{
	margin-bottom: 30px;
}
