.wrapper{
	min-height:100vh;
	width:100vw;
}
body{
	background-color:black !important;
}

.sidebar-wrapper{
	padding: 0 !important;
	background-color: #191919;
}
.sidebar{
/*	background-color: #191919;*/
	padding:0 !important;
	height:100%;
}

.sidebar a {
    text-decoration: none;
    color: #4C4C4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}
.sidebar a:hover{
	background-color: black;
	text-decoration: none;
	color:white;
}
.sidebar a:focus{
	color:white;
	text-decoration: none;
	background-color:black;
	outline:none;
}
.menu-title{
	display:flex;
	flex-direction: column;
	justify-content: center;
	color:#ccc !important;
	font-weight: 650;
	padding:25px 16px 10px 16px;
	margin-top:10px;
}
.header h1{
	color:#4C4C4C;
	font-size:50pt;
}
.sub-header{
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-left:3px solid #191919;
	color:#ccc;
}
.header{
	min-height:12vh;
	height:12vh;
}
.content{
	color:white;
}
.form-description{
	height:20vh !important;
}

.form-group .btn{
	color:black !important;
	background-color:#4C4C4C !important;
}







@media only screen and (max-width: 768px) {
    .sidebar .top-menu .col-xs-3 {
	    text-align: center;
	}
	.menu-title{
		border-bottom:2px solid black!important;
	}
	.artist-menu{
		display: none;
	}
	.sidebar{
		height:80px;
	}
	.sidebar a{
		padding: 6px 8px 9px 16px;
	}
	.content{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.home-image{
		width:100%;
		margin-bottom: 10px;
	}
	.about-heading{
		text-align: center;
		color:#4C4C4C;
	}
}

@media only screen and (min-width: 768px) {
	.sidebar-wrapper{
		height:100vh;
	}
	.sidebar a{
		border-bottom:1px solid black;
		padding: 6px 8px 6px 16px;
	}
	.artist-menu{
		padding:0 !important;
	}
	.artist-title{
		margin-top: 20px;
		color:#ccc !important;
		font-weight: 650;
	}
	.content{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.home-image{
		height:50vh;
		margin-bottom: 10px;
	}
	.home-image-wrapper{
		display:flex;
		flex-direction: row;
		justify-content: center;
	}
	.content h4{
		margin-top:20px;
		margin-bottom:20px;
		text-align: center;
	}
	.resource-heading{
		margin-left:20px;
		margin-right: 20px;
	}
	.about-heading{
		text-align: right;
		color:#4C4C4C;
	}
}

.resource-heading{
	margin-bottom:20px;
	padding-bottom: 10px;
	border-bottom:3px solid #191919;
}




